@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@300&family=Montserrat:wght@100;300;400;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

.containerObject {
  left: 0;
  top: 0;
  position: fixed;
  z-index: 999999999;
  width: 100%;
  background: #060606;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  transition: 0.3s all ease-in-out;
  animation: whiteBack 3s 1;
}
@keyframes whiteBack {
  0% {
    background: #060606;
  }
  48% {
    background: #060606;
  }
  50% {
    background: #fff;
  }
  52% {
    background: #060606;
  }
  54% {
    background: #060606;
  }
  56% {
    background: #fff;
  }
  58% {
    background: #060606;
  }
}
.gone {
  transition: 0.5s all ease-in-out;
  position: fixed;
  top: -100vh !important;
  left: 0;
}

.canvasModel > canvas {
  height: 100%;
}
.textEntry {
  display: flex;
  justify-content: center;
  font-size: 2em;
  align-items: center;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Orbitron";
}
.textSpan {
  animation: spanIntro 3s 1;
  animation-delay: 0.5s;
  opacity: 1;
  transform: skew(0deg, 0deg);
  text-shadow: 0px 0px 10px white;
}
@keyframes spanIntro {
  0% {
    opacity: 1;
  }
  54% {
    opacity: 1;
    transform: skew(0deg, 0deg);
    text-shadow: 0px 0px 0px white;
  }
  56% {
    opacity: 1;
    transform: skew(20deg, 0deg);
  }
  58% {
    opacity: 1;
    transform: skew(-20deg, 0deg);
  }
  60% {
    opacity: 0;
    transform: skew(0deg, 0deg);
  }
  62% {
    opacity: 1;
    transform: skew(10deg, 10deg);
    text-shadow: 0px 0px 0px white;
  }
  64% {
    opacity: 1;
    transform: skew(0deg, 0deg);
    text-shadow: 0px 0px 10px white;
  }
}
.thunderObject {
  opacity: 1;
  animation: thunderIntro 3s 1;
  transform: skew(0deg, 0deg);
}
@keyframes thunderIntro {
  0% {
    opacity: 0;
  }
  52% {
    opacity: 0;
  }
  54% {
    opacity: 1;
    transform: skew(20deg, 0deg);
  }
  56% {
    opacity: 0;
    transform: skew(0deg, 0deg);
  }
  58% {
    opacity: 1;
    transform: skew(20deg, 0deg);
  }
  60% {
    opacity: 1;
    transform: skew(-20deg, 20deg);
  }
  62% {
    opacity: 1;
    transform: skew(10deg, 10deg);
  }
  64% {
    opacity: 1;
    transform: skew(0deg, 0deg);
  }
}

.goBTN {
  font-family: "Orbitron";
  letter-spacing: 4px;
  text-transform: uppercase;
  box-shadow: 0px 0px 20px 0px #fff;
  border-radius: 15px;
  z-index: 9999;
  background: #101010;
  color: #fff;
  font-weight: 500;
  padding: 10px 35px;
  transition: 0.3s all ease-in-out;
}
.goBTN:hover {
  background: #fff;
  font-weight: 900;
  color: #101010;
}

/* Responsive Section */

@media (max-width: 564px) {
  .textEntry {
    font-size: 1.5em;
  }
  .textEntry > img {
    width: 30px;
  }
}
