@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@300&family=Montserrat:wght@100;300;400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
.header {
    position: relative;
    width: 100dvw;
    height: 100vh; 
}
.overlayVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw; 
    height: 100vh; 
    background: rgba(0, 0, 0, 0.2);
    z-index: 1; 
}
.videoHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw; 
    height: 100vh; 
    object-fit: cover;
    z-index: -1;
}
.titleHeaderCenter {
    position: absolute;
    z-index: 2; 
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; 
    mix-blend-mode: difference; 
}
.titleHeaderCenter > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.titleHeaderCenter > div >  span {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5em;
    letter-spacing: 3px;
}
.subHeader{
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    mix-blend-mode: difference;
    color: #fff;
    padding: 50px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
}
.subHeader > h1{
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 2.5em;
}
.subHeader > h2{
    letter-spacing: 5px;
    font-weight: 300;
    font-size: 1.5em;
}
@supports (mix-blend-mode: difference) {
    .titleHeaderCenter {
        mix-blend-mode: difference; 
    }
}
@media (max-width: 768px) {
    .titleHeaderCenter > div > span {
        font-weight: 600;
        font-size: 2em;
    }
    .subHeader{
        padding: 0px 0px 30px 20px;
    }
    .subHeader > h1{
        letter-spacing: 5px;
        font-weight: 700;
        font-size: 1em;
    }
    .subHeader > h2{
        letter-spacing: 5px;
        font-weight: 300;
        font-size: 0.5em;
    }
}


/*------------------------------------------------------------------------------------------------*/

.sectionHome{
    @apply bg-neutral-900 flex flex-col justify-center items-center;
}